<button type="button" class="btn btn-primary m-2 float-end" data-bs-toggle="modal" data-bs-target="#addEditModal"
  (click)="addClick()">
  Add Contact
</button>

<!-- Modal Add or Edit-->
<div class="modal fade" id="addEditModal" tabindex="-1" role="dialog" 
aria-labelledby="addEditModalLabel" aria-hidden="true" width="300px">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addEditModalLabel">{{ModalTitle}}</h5>
        <button type="button" id="addEditModalClose" class="close" data-bs-dismiss="modal" aria-label="Close" (click)="closeClick()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-contact-add-edit [contactItem]="contactItem" *ngIf="ActivateAddEditContactComp">
        </app-contact-add-edit>
      </div>
    </div>
  </div>
</div>

<!-- table -->
<table class="table table-striped table-borderless">
  <thead>
    <tr>
      <th>
        <a (click)="sortBy('contactId')">ContactId {{sortIcon('contactId')}}</a>
      </th>
      <th>
        <a (click)="sortBy('firstName')">FirstName {{sortIcon('firstName')}}</a>
      </th>
      <th>
        <a (click)="sortBy('lastName')">LastName {{sortIcon('lastName')}}</a>
      </th>
      <th>
        <a (click)="sortBy('email')">Email {{sortIcon('email')}}</a>
      </th>
      <th>
        <a (click)="sortBy('phoneNumber')">PhoneNumber {{sortIcon('phoneNumber')}}</a>
      </th>
      <th>
        <a (click)="sortBy('address')">Address {{sortIcon('address')}}</a>
      </th>     
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of ContactList">
      <td>{{item.contactId}}</td>
      <td>{{item.firstName}}</td>
      <td>{{item.lastName}}</td>
      <td>{{item.email}}</td>
      <td>{{item.phoneNumber}}</td>
      <td>{{item.address}}</td>
      <td >
        <button type="button" class="btn btn-light mr-1 action-button" 
          (click)="deleteClick(item)" data-backdrop="static" data-keyboard="false">
          <img class="img-action" src="../assets/images/delete.png" alt="delete" title="delete" />
        </button>
        <button type="button" class="btn btn-light mr-1" data-bs-toggle="modal" data-bs-target="#addEditModal"
          (click)="editClick(item)" data-backdrop="static" data-keyboard="false">
          <img class="img-action" src="../assets/images/edit.png" alt="edit" title="edit" />
        </button>       
      </td>
    </tr>
  </tbody>
</table>

