.clsAction, .clsActionHeader{
    width: 50px;
    max-width: 50px;
    float: right;
    margin-right: 10px;
}

.clsActionHeader{
    text-align: right;    
    float: right;   
    padding-right: 95px;
}